<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>文件管理系统</title>
    <style>
        .content {
            width: 80%;
            margin: 10px auto;
        }
        .td_first {
            width: 10%;
            height: auto;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div class="content panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">图片上传</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <form method="post" enctype="multipart/form-data" th:action="@{/pic/upload}">
                <input type="file" name="file">
                <input type="submit" style="margin-top:20px" value="点击上传" class="btn btn-primary btn-sm"/>
            </form>
        </div>
        <table class="table table-bordered">
            <tr>
                <td width="100px">提取结果</td>
                <td>翻译结果</td>
                <!--                <td>操作</td>-->
            </tr>
            <tr th:each="translate:${translateList}">
                <td class="td_first" th:text="${translate.source}"/>
                <td th:text="${translate.target}"/>
            </tr>
        </table>
        <div th:if="${ocrError}">
            <div>请求出错:</div>
            <p th:text="${ocrError}"></p>
        </div>
    </div>
</div>
<!--<div class="content panel panel-primary">-->
<!--    <div class="panel-heading">-->
<!--        <h3 class="panel-title">翻译结果</h3>-->
<!--    </div>-->
<!--    <div class="panel-body">-->
<!--       <div class="panel-primary">-->
<!--           <label th:text="${base64}">-->
<!--           </label>-->
<!--       </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>